MNBProject/Assembly-CSharp-Editor-vs.csproj
MNBProject/Assembly-CSharp-Editor.csproj
MNBProject/Assembly-CSharp-vs.csproj
MNBProject/Assembly-CSharp.csproj
MNBProject/MNB.sln
MNBProject/Assembly-CSharp-firstpass-vs.csproj
MNBProject/Assembly-CSharp-firstpass.csproj

# UNITY #
MNBProject/Library
MNBProject/obj
MNBProject/Temp
MNBProject/Assets/NGUI

#BuildProject#

#iOS#
#Build/iOS/Data
#Build/iOS/Frameworks
#Build/iOS/Libraries

#Android#
#Build/Android/AndroidPlugin/bin
#Build/Android/AndroidPlugin/gen

#Build/Android/unity-android-resources/bin
#Build/Android/unity-android-resources/gen
#Build/Android/unity-android-resources/res

#Build/Android/KBOmanager/assets
#Build/Android/KBOmanager/libs
#Build/Android/KBOmanager/res
#Build/Android/KBOmanager/src
#Build/Android/KBOmanager/gen
#Build/Android/KBOmanager/bin
#launch.json
